{% extends "base.html" %}
{% block content %}
    <h3 class="light-blue-text text-darken-4 center-align text-shadow">Añadir Nuevo Registro</h3>
    <div class="row">
        <form class="col s12 m10 offset-m1 l6 offset-l3" method="POST" action="{{ url_for('add_record') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bars prefix light-blue-text"></i>
                    <select id="reg_no" name="reg_no" class="validate select_car" required>
                        <option value="reg_no" disabled selected>Elegir Camión</option>
                        {% for car in cars %}
                            <option value="{{ car.reg_no }}">{{ car.reg_no }}</option>
                        {% endfor %}
                        <label for="reg_no"></label>
                    </select>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-bars prefix light-blue-text"></i>
                    <select id="garage_name" name="garage_name" class="validate select_garage" required>
                        <option value="" disabled selected>Taller / Centro de Servicio</option>
                        {% for gar in garages %}
                            <option value="{{ gar.garage_name }}">{{ gar.garage_name }}</option>
                        {% endfor %}
                        <label for="garage_name"></label>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-calendar-alt prefix light-blue-text"></i>
                    <input placeholder="Fecha de Servicio" id="service_date" name="service_date" type="text"
                        class="datepicker validate" required>
                    <label for="servicedate" class="light-blue-text">Fecha</label>
                </div>
                <div class="input-field col s6">
                    <i class="fas fa-tachometer-alt prefix light-blue-text"></i>
                    <input placeholder="Lectura del odómetro" id="odometer_reading" name="odometer_reading" type="number"
                        class="validate" required>
                    <label for="odometer_reading" class="light-blue-text">Kilometraje (Km)</label>
                </div>
                <div class="input-field col s6">
                    <i class="fas fa-euro-sign prefix light-blue-text"></i>
                    <input placeholder="Costo (Sin símbolo €)" id="service_cost" name="service_cost" type="number" step=".01"
                        class="validate" required>
                    <label for="service_cost" class="light-blue-text">Costo del Servicio</label>
                </div>
                <div class="input-field col s6 center-align">
                    <div class="switch">
                        <i class="fas fa-file-invoice prefix light-blue-text"></i>
                        <label for="service_paid" class="light-blue-text">
                            <input type="checkbox" id="service_paid" name="service_paid">
                            <span class="lever"></span>
                            Factura Pagada
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" required>
                    <i class="fas fa-sticky-note prefix light-blue-text"></i>
                    <textarea placeholder="Breve descripción del trabajo realizado." id="service_desc" name="service_desc"
                        class="materialize-textarea validate" required></textarea>
                    <label for="service_desc" class="light-blue-text">Resumen del Trabajo</label>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1">
                    <h6 class="fas fa-list light-blue-text list_icon"> Añadir lista detallada de repuestos/servicios.</h6>
                </div>
                <div class="input-field col s10 offset-s1 item">
                    <input placeholder="Añadir repuesto o servicio" id="service_items" name="service_items" type="text"
                        class="validate black-text">
                    <label for="service_items"></label>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1">
                        <i role="button" class="far fa-plus-square add_item light-blue-text item_button"
                            aria-label="Añadir Repuesto"></i>
                        <i role="button" class="far fa-minus-square red-text remove_item item_button"
                            aria-label="Eliminar Repuesto"></i>
                        <p>Añadir más líneas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col col s8 offset-s2 m4 offset-m4 l4 offset-l4 red-text center-align record_error_car">
                            <p>Por favor selecciona un camión para este registro</p>
                        </div>
                        <div
                            class="col col s8 offset-s2 m4 offset-m4 l4 offset-l4 red-text center-align record_error_garage">
                            <p>Por favor selecciona un taller para este registro</p>
                        </div>
                    </div>
                    <button type="Submit"
                        class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 btn light-blue darken-2 record_submit">
                        Guardar Registro <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}