{% extends "base.html" %}
    {% block content %}
        <h3 class="light-blue-text text-darken-4 center-align text-shadow">Agregar un camión a la base de datos</h3>
        <p class="center-align"><span class="red-text"><strong>Note : </strong></span> Solo registra un auto del cual seas el usuario actual, <br> tu ID será asociado con el vehículo. <br></p>
        <div class="row">
            <form class="col s12 m10 offset-m1 l6 offset-l3" method="POST"
                action="{{ url_for('addcar', username=username, email=email) }}">
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="input-field">
                            <i class="fas fa-pencil-alt prefix light-blue-text"></i>
                            <input placeholder="Matrícula (formato: 131-A-123456)." id="reg_no" name="reg_no" type="text"
                                class="validate" required>
                            <label for="reg_no" class="light-blue-text text-darken-2">Número de Registro del Vehículo</label>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <h6 class="light-blue-text center-align">Usuario Registrado</h6>
                        <p id="username" name="username" class="center-align">{{ username }}</p>
                    </div>
                    <div class="col s6 m3">
                        <h6 class="light-blue-text center-align">Correo electrónico</h6>
                        <p id="email" name="email" class="center-align">{{ email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="input-field">
                            <i class="fas fa-pencil-alt prefix light-blue-text"></i>
                            <input placeholder="Marca del Camión" id="make" name="make" type="text" class="validate" required>
                            <label for="make" class="light-blue-text text-darken-2">Marca</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="input-field">
                            <i class="fas fa-pencil-alt prefix light-blue-text"></i>
                            <input placeholder="Modelo del Camión" id="model" name="model" type="text" class="validate" required>
                            <label for="model" class="light-blue-text text-darken-2">Modelo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 btn light-blue darken-2">
                        Registrar Camión<i class="fas fa-car"></i>
                    </button>
                </div>
            </form>
        </div>
    {% endblock %}