{% extends "base.html" %}
    {% block content %}
        <h3 class="light-blue-text text-darken-4 center-align text-shadow">Inicio de Sesión</h3>
        
        <div class="row">
            <form class="col s12 m10 offset-m1 l6 offset-l3" method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="far fa-user prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Ingresa tu nombre de usuario (mín 5 / máx 10 caracteres)" id="username" name="username" type="text" minlength="5"
                            maxlength="10" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username" class="light-blue-text darken-2">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="fas fa-unlock-alt prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Ingresa tu contraseña (mín 8 / máx 10 car)" id="password" name="password" type="password" minlength="8"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password" class="light-blue-text darken-2">Contraseña</label>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <button type="submit" class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 btn light-blue darken-2">
                        Iniciar Sesión <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 center-align">
                        <h6>¿Aún no estás registrado?</h6>
                        <p>
                             Ve a la <a href="{{ url_for('register') }}">Página de Registro</a> para crear tu perfil.
                        </p>                        
                    </div>
                </div>
            </form>
            
        </div>
    {% endblock %}