{% extends "base.html" %}
    {% block content %}
        <h3 class="light-blue-text text-darken-4 center-align text-shadow">Registrar un Nuevo Usuario</h3>
        
        <div class="row">
            <form class="col s12 m10 offset-m1 l6 offset-l3" method="POST" action="{{ url_for('register') }}">
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="fas fa-signature prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Ingresa tu nombre completo." id="name" name="name" type="text" class="validate"
                                required>
                            <label for="name" class="light-blue-text darken-2">Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="fas fa-envelope-open prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Ingresa tu dirección de correo electrónico." id="email" name="email" type="email"
                                class="validate" required>
                            <label for="email" class="light-blue-text darken-2">Correo Electrónico</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="far fa-user prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Elige un nombre de usuario (mín 5 / máx 10 caracteres)" id="username" name="username"
                                type="text" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                                required>
                            <label for="username" class="light-blue-text darken-2">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="input-field">
                            <i class="fas fa-unlock-alt prefix light-blue-text text-darken-2"></i>
                            <input placeholder="Ingresa tu contraseña (mín 8 / máx 15 car)" id="password" name="password"
                                type="password" minlength="8" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                                required>
                            <label for="password" class="light-blue-text darken-2">Contraseña</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 btn light-blue darken-2">
                        Registrarse <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 center-align">
                        <h6>¿Ya tienes una cuenta?</h6>
                        <p>
                            Ve a la <a href="{{ url_for('login') }}">Página de Inicio</a> para iniciar sesión.
                        </p>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}