
{% extends "base.html" %}
    {% block content %}
        <h3 class="light-blue-text text-darken-4 center-align text-shadow">Perfil de Usuario</h3>
        <div class="row">
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <div class="card-panel profile_card ">
                    <h6 class="light-blue-text text-darken-2 center-align text-shadow">Bienvenido {{ name }}</h6>
                    <ul>
                        <li> <i class="fas fa-user light-blue-text prefix"></i> <strong>Nombre : </strong>
                            <ul>
                                <li>{{ name }}</li>
                            </ul>
                        </li>
                        <div class="row"></div>
                        <li> <i class="fas fa-user-cog prefix light-blue-text"></i> <strong>Usuario : </strong>
                            <ul>
                                <li>{{ username }}</li>
                            </ul>
                        </li>
                        <div class="row"></div>
                        <li> <i class="fas fa-envelope-open prefix light-blue-text"></i> <strong>Correo Electrónico : </strong>
                            <ul>
                                <li>{{ email }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <div class="card-panel center-align">
                    <h6 class="light-blue-text text-darken-2 center-align text-shadow">Asistencia</h6>
                    <p>Si necesitas ayuda o soporte con la página<br>
                        Envía un mensaje al <a
                            href="https://wa.me/584120409049?text=Hola,%20necesito%20ayuda%20con%20el%20sistema.%20Mi%20usuario%20es:%20{{ username }}"
                            target="_blank"
                            class="admin_help blue-text"><i class="fab fa-whatsapp"></i> Soporte por WhatsApp</a>
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}